@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

:root {
    --primary-color: #012B29;
    --secondary-color: #ffffff;
    --primary-bg-color: #012B29;
    --secondary-bg-color: #202622;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
}

#header {
    background: url(../img/background-header.png) no-repeat center;
    background-size: cover;
    padding-bottom: 14rem;
}

#header h1 {
    font-size: 5.8rem;
}

#header h6 {
    font-size: 1.5rem;
}

.logo {
    width: 70px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 2.5rem;
    font-size: 1.2rem;
}

.titulo-processo {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.margem-header {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.frase-1 {
    padding-bottom: 16rem;
}

.frase-1 h1 {
    font-size: 3.5rem;
    text-align: center;
}

.frase-2 {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.frase-2 h1 {
    font-size: 3.5rem;
    text-align: center;
}

.sublinhado {
    text-decoration: underline;
}

.img-cem {
    width: 100%;
}

.tab-pane img {
    width: 97%;
}

#sobre {
    background-color: var(--primary-bg-color);
    color: var(--secondary-color);
    padding-top: 10rem;
    padding-bottom: 28rem;
}

#sobre h2 {
    font-size: 3.8rem;
}

#sobre p {
    font-size: 1.11rem;
}

#sobre h6 {
    font-size: 1.5rem;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4rem;
}

.recuo {
    margin-top: 1.34rem;
    padding-left: 5rem;
    border-left: 4px solid var(--secondary-color);
}

#list-tab {
    font-size: 1.2rem; 
    font-weight: 600;
    padding-top: 14rem;
    margin-right: 6rem;
    text-align: center;
    border-radius: 4.25rem !important;
}

.sobedesce {
    animation: sobeDesce 4s ease-in-out infinite;
}

@keyframes sobeDesce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}


.list-group-item:first-child {
    border-top-left-radius: 65px !important;
    border-top-right-radius: 65px !important;
}

.list-group-item {
    border-radius: 4.5rem;
    color: var(--secondary-color);
    background-color: var(--primary-bg-color);
    border: 3.5px solid var(--secondary-color);
}

.list-group-item.active {
    z-index: 2;
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-bg-color);
}

p.descricao-processo{
    font-weight: 300;
    font-size: 1.4rem !important;
    padding-top: 1.5rem;
    padding-right: 1.6rem;
}

#portfolio {
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    margin-top: -15rem;
    padding-bottom: 5rem;
}

#portfolio h2 {
    font-size: 3.7rem;
    padding-top: 6rem;
    padding-bottom: 1.5rem;
}

#portfolio h3 {
    font-size: 2.1rem;
    padding-bottom: 6.5rem;
}

#portfolio h4 {
    font-size: 2.5rem;
    padding-bottom: 1.7rem;
}

#portfolio h5 {
    font-size: 2rem;
    padding-top: 2rem;
}

#portfolio p {
    font-size: 1.2rem;
    padding-bottom: 1.7rem;
}

.border-gif {
    border-radius: 2rem;
}

.card {
    border-radius: 2.25rem !important;
}

.btn-port {
    border-radius: 4.5rem;
    font-size: 1.2rem;
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    border: 3.5px solid var(--secondary-color);
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn-port:hover {
    color: var(--secondary-bg-color);
    background-color: var(--secondary-color);
    border: 3.5px solid var(--secondary-color);
}

#portfolio a i, #contato a i {
    padding-left: 1.5rem;
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
    font-weight: 700 !important;
}

.pb-6 {
    padding-bottom: 6rem;
}

.terminal {
  background-color: var(--primary-bg-color);
  padding: 2rem;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 0 15px rgba(0, 255, 136, 0.3);
  max-width: 700px;
  margin: 2rem auto;
}

.terminal pre {
  color: var(--secondary-color);
  white-space: pre-wrap;
  word-break: break-word;
}

.terminal code {
  font-size: 1rem;
}


#contato {
    background: url(../img/background-contato.png) no-repeat fixed center;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;
    color: var(--secondary-color);
    text-align: center;
}

#contato h1 {
    font-size: 4rem;
    padding-bottom: 3rem;
}

#contato h2 {
    font-size: 2.7rem;
    padding-bottom: 3rem;
}

.redes {
    padding-bottom: 3rem;
}

.redes a {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.redes a img {
    width: 5.7rem;    
}

#corporight {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    text-align: center;
    padding-top: 0.9rem;
    padding-bottom: 0.3rem;
}

#corporight p {
    font-size: 1.5rem;
}

#corporight p a{
    color: var(--secondary-color);
    text-decoration: none;
}

#menu-mobile {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    text-align: justify;
    background-color: var(--secondary-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--secondary-color);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
     color: var(--secondary-color);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-mobile {
    font-size: 30px;
    cursor: pointer;
}

.navbar-mobile, .mobile {
    display: none;
}

.recursos {
    display: none;
}

@media screen and (max-width: 630px) {
    .margem-header {
        padding-top: 3rem;
        padding-bottom: 0rem;
    }
    
    .navbar, .desktop {
        display: none;
    }

    .recursos {
        display: flex;
    }

    #menu-mobile, .mobile, .navbar-mobile  {
        display: contents;
    }

    .logo {
        width: 40px;
        padding-top: 0.3rem;
    }

    #header {
        padding-bottom: 10rem;
    }

    #header h1 {
        font-size: 3.5rem;
    }

    #header h6 {
        font-size: 1rem;
    }

    .sobedesce, .border-gif {
        margin-top: 1.7rem;
        width: 100%;
    }

    .frase-1 {
        padding-bottom: 9rem;
    }

    .frase-1 h1, .frase-2 h1 {
        font-size: 2.6rem;
    }

    #sobre {
        padding-top: 4rem;
        padding-bottom: 20rem;
    }

    #sobre h2 {
        font-size: 2rem;
        padding-top: 0rem;
    }

    #sobre h4 {
        font-size: 1.3rem;
        padding-top: 1rem !important;
    }

    #sobre h6 {
        font-size: 1.2rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    #sobre .col-md-5 img {
        padding-top: 1rem;;
    }

    .recuo {
        padding-left: 0rem;
        border-left: 0px solid var(--secondary-color);
    }

    .titulo-processo {
        font-size: 2.5rem;
        padding-top: 4rem;
        padding-bottom: 1rem;
    }

    #list-tab {
        font-size: .9rem;
        padding-top: 1rem;
        line-height: 0.6;
        margin-right: 0rem;
        padding-bottom: 1rem;
    }

    p.descricao-processo {
        font-size: 1.2rem !important;
    }

    #portfolio h2 {
        font-size: 3rem;
    }

    #portfolio h3 {
        font-size: 1.8rem;
    }

    #contato h1 {
        font-size: 3rem;
    }

    #contato h2 {
        font-size: 1.7rem;
    }

    #portfolio p {
        padding-top: 1rem;
    }

    .redes a img {
        width: 5rem;
    }

    .btn-port {
        font-size: 1.12rem;
    }

    #corporight p {
        font-size: 1rem;
    }
}